@import '../../../styles/variables.scss';

.button {
  padding: 1.3125rem 1.75rem;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.45;
  border: solid 2px $color-accent;
  cursor: pointer;

  &_primary {
    background-color: $color-accent;
    color: #ffffff;
    box-shadow: 0 4px 64px rgba(188, 64, 99, 0.32),
      0 8px 32px rgba(10, 9, 18, 0.16);
  }

  &_secondary {
    background-color: #ffffff;
    color: $color-accent;
  }
}
