.container {
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}

.header {
  display: flex;
  align-items: center;
  height: 5rem;

  &__logo {
    width: 3rem;
    height: 2rem;
  }

  &__login {
    margin-left: auto;
    width: 1.5rem;
    height: 1.5rem;
  }
}

.main {
  margin-top: 12.25rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15rem;

  &__madeWith {
    font-size: 0.75rem;
    color: rgba(10, 9, 18, 0.64);
  }

  &__heart {
    opacity: 0.48;
  }
}
