@import '../../../styles/variables.scss';
@import '../../../styles/media.scss';

$height-xs: 3rem;
$height-md: 5rem;
$height-lg: 8rem;

.root {
  flex-wrap: nowrap;
}

.form {
  position: relative;
  display: flex;
  align-items: flex-start;
  height: $height-xs;

  &_twoRows {
    height: $height-xs * 2;
  }

  @include media-query('md') {
    &_twoRows {
      height: $height-md * 2;
    }
  }
  @include media-query('lg') {
    &_twoRows {
      height: $height-lg * 2;
    }
  }
}

.input {
  width: 100%;
  height: $height-xs + 0.5rem;
  padding: 0;
  border: 0 none;
  font-size: $height-xs;
  font-weight: bold;
  line-height: 1;
  background-color: transparent;
  resize: none;
  overflow: hidden;

  &:focus {
    outline: 0 none;
  }

  &::placeholder {
    color: $color-text;
    transition: color ease-in 0.2s;
  }

  &:hover::placeholder {
    color: $color-transparent;
  }

  @include media-query('md') {
    height: $height-md + 0.75rem;
    font-size: $height-md;
  }
  @include media-query('lg') {
    height: $height-lg + 1.5rem;
    font-size: $height-lg;
  }
}

.form_twoRows .input {
  height: ($height-xs + 0.5rem) * 2;

  @include media-query('md') {
    height: ($height-md + 0.75rem) * 2;;
  }
  @include media-query('lg') {
    height: ($height-lg + 1.5rem) * 2;;
  }
}

.zoomWrapper,
.closeWrapper {
  height: $height-xs;
  justify-content: center;

  @include media-query('md') {
    height: $height-md;
  }
  @include media-query('lg') {
    height: $height-lg;
  }
}

.zoom {
  position: relative;
  width: 3rem;
  height: 3rem;
  transition: opacity ease-in 0.2s;

  &_disabled {
    opacity: 0.32;
  }
}

.close {
  position: relative;
  width: 2rem;
  height: 2rem;
  opacity: 0;
  transition: opacity ease-in 0.2s;
  cursor: pointer;
}

.root_hasValue .close {
  opacity: 0.35;
}
