.buddy {
  cursor: pointer;
  text-decoration: none;
  transition: opacity ease-in 0.2s;

  &:hover {
    opacity: 1;
  }
}

.image {
  max-width: 10.5rem;
  max-height: 10.5rem;
  border-radius: 9999px;
  transition: box-shadow ease-in 0.2s, transform ease-in 0.2s;
}

.buddy:hover .image {
  box-shadow: 0 7px 64px rgba(10, 9, 18, 0.32);
  transform: scale(1.095);
}

.name {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  font-weight: bold;
  text-align: center;
  color: rgba(10, 9, 18, 0.64);
  transition: color ease-in 0.2s;
}

.buddy:hover .name {
  color: #0a0912;
}
