.list {
  pointer-events: none;
}

.buddyWrapper {
  margin-bottom: 2rem;
}

.buddy {
  margin-bottom: 2rem;
  cursor: pointer;
  text-decoration: none;
  transition: opacity 0.2s ease-in 0.1s;
  pointer-events: auto;
  will-change: opacity;
}

.list:hover .buddy {
  opacity: 0.32;
  transition-delay: 0s;

  &:hover {
    opacity: 1;
  }
}

.image {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  border-radius: 9999px;
  overflow: hidden;
  transition: box-shadow ease-in 0.2s, transform ease-in 0.2s;
}

.buddy:hover .image {
  box-shadow: 0 7px 64px rgba(10, 9, 18, 0.32);
  transform: scale(1.095);
}

.name {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  font-weight: bold;
  text-align: center;
  color: rgba(10, 9, 18, 0.64);
  transition: color 0.2s ease-in, transform 0.2s ease-in;
}

.buddy:hover .name {
  color: #0a0912;
  transform: translateY(0.5rem);
}
