// Typography
$font-family: 'Space Mono', monospace;

// Colors
$color-text: #0a0912;
$color-transparent: #0a091257;
$color-accent: #bc40c7;

// Responsiveness
$breakpoints: (
  lg: 1440px,
  md: 768px,
  xs: 0,
) !default;
$grid-container-width: (
  lg: 1440px,
  md: 768px,
  xs: 100%,
) !default;
$grid-columns: (
  lg: 12,
  md: 8,
  xs: 4,
) !default;
$grid-margin: (
  lg: 4.5rem,
  md: 1.5rem,
  xs: 1.5rem,
) !default;
$grid-gutter: (
  lg: 3.5rem,
  md: 1rem,
  xs: 1rem,
) !default;
